In [13]:
import pandas as pd

In [14]:
df = pd.read_parquet('../data/population_by_age.parquet')

In [16]:
pop = pd.read_csv('../data/total_population.csv')

In [42]:
df

                          Регион  Молодежь    Дети  Молодежь + Дети
0           Белгородская область    400006  289657           630442
1               Брянская область    301126  224432           477988
2           Владимирская область    333206  248412           529428
3            Воронежская область    601133  410152           929239
4             Ивановская область    251961  181282           395595
..                           ...       ...     ...              ...
82              Амурская область    221589  177105           360926
83           Магаданская область     36308   29028            58928
84           Сахалинская область    129499  107150           215152
85  Еврейская автономная область     43995   36324            72595
86    Чукотский автономный округ     14238   12422            23791

[85 rows x 4 columns]

In [48]:
pop.merge(df, on=['Регион']).to_parquet('../data/population.parquet', index=False)